#map {
  flex-grow: 1;
}
.avatar-participant {
    border-radius: 50%;
    border: solid 3px;
    height: 32px;
    width: 32px;
    span {
      display: block;
      padding-left: 4px;
      padding-top: 9px;
      text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0px 2px 0 #000, 2px 0px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 2px 5px #000;
      color: white;
    }
}
