#map {
  flex-grow: 1;
}
.avatar-participant {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    background-color: #232323;
    border: 3px solid aquamarine;
    border-radius: 50%;
    span {
      display: block;
      color: #fff;
    }
}
